/***************************************************ヘッダー**********************************************/
header{
  height: 100px;
  width: 1366px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .app{
    font-size: 36px;
    font-weight: 600;
    margin-left: 30px;
    color: #000000;
  
  }
  
  .contents-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a{
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }
  
  .service{
    font-size: 22px;
    margin-right: 70px;
  }
  
  .news{
    font-size: 22px;
    margin-right: 70px;
  }
  
  .contact{
    font-size: 22px;
    margin-right: 100px;
  }
  
  /**********************************メイン見出し**********************************************************/
  .title{
    width: 1366px;
    height: 1000px;


  }
  .midashi{
    padding:50px 0 150px;
    display: flex;
    justify-content: center;
    }


    .midashi-news{
      font-size: 64px;
      font-weight: 600;
    }
    .midashi-info{
      font-size: 24px;
      font-weight: 600;
      display: flex;
      justify-content: center;
    }
 
/******************ここから内容(左側)*****************************/
.form-box{
  height: 600px;
  width: 650px;
  margin:0 auto 180px;
}

.form-midashi{
font-size: 24px;
}

.form-input{
width: 100%;
height: 60px;
border-radius: 10px;
border: 2px solid #DEDEDE;
font-size: 20px;
padding: 10px;
display: block;
margin-bottom: 25px;
}

.form-area{
  width: 100%;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
  font-size: 20px;
  padding: 10px;
  display: block;
  margin-bottom: 40px;
}

.form-send{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  background-color: #454545;
  color: #ffffff;
}

  /**********************************フッター*************************************************************/
  footer{
  height: 70px;
  width: 1366px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  }
  
  .foot{
    font-size: 16px;
    color: #959393;
  }
  