/***************************************************ヘッダー**********************************************/
header{
  height: 100px;
  width: 1366px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .app{
    font-size: 36px;
    font-weight: 600;
    margin-left: 30px;
    color: #000000;
  
  }
  
  .contents-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a{
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }
  
  .service{
    font-size: 22px;
    margin-right: 70px;
  }
  
  .news{
    font-size: 22px;
    margin-right: 70px;
  }
  
  .contact{
    font-size: 22px;
    margin-right: 100px;
  }
  
  /**********************************メイン見出し**********************************************************/

  .title{
    width: 1366px;
    height: 1000px;


  }
  .midashi{
    padding:50px 0 150px;
    display: flex;
    justify-content: center;
    }


    .midashi-news{
      font-size: 64px;
      font-weight: 600;
    }
    .midashi-info{
      font-size: 24px;
      font-weight: 600;
      display: flex;
      justify-content: center;
    }
/******************ここから内容(左側)*****************************/

  .contents{
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents-main{
    width: 960px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .contents-work{
    width: 630px;
  }

  .work-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .work-tag{
    display: flex;
    margin-bottom: 20px;
  }

  .work-tims{
    font-size: 18px;
    margin-right: 60px;
  }

  .work-categoly{
    font-size: 18px;
  }

  .image{
    height: 240px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .work-naiyo{
    font-size: 18px;
  }

  /******************ここから内容(右側)*****************************/

  .contents-sub{
    width: 406px;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .sub-space{
    width: 200px;
    }

    .sub-title{
      font-size: 24px;
      font-weight: 600;
    }

    al{
      text-decoration: none;
    }
  
    .sub-list{
      height: 60px;
      background-color: #EEEDED;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
  /**********************************フッター*************************************************************/
  footer{
  height: 70px;
  width: 1366px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  }
  
  .foot{
    font-size: 16px;
    color: #959393;
  }
  